@import '../../styles/breakpoints';

// Cover Styles

.slide-cover {

  @media #{$desktopxl} {
    max-width: 1200px !important;
  }

}

.cover {
  text-align: left;
  width: 100%;

  @media #{$desktop} {
    width: 50%
  }

}
