@import './breakpoints';

// Image Styles

.slide-image {

  @media #{$desktop} {
    max-height: none !important;
  }

}

.slide-intro {
  position: relative;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  height: 320px;

  span {
    position: absolute;
  }

}
