@import '../../styles/breakpoints';

// Sheet Styles

.slide-sheet {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: [C1]100px [C2]1fr [C3]100px;
  min-height: 650px;

  @media #{$desktopxl} {
    max-width: 1200px !important;
  }

}

.slide-sheet-number {
  margin-left: 0 !important;
}

.slide-sheet-type {
  text-align: left !important;
  margin-left: 0 !important;
}

.slide-sheet-content {
  grid-column: C2/C3;
  text-align: left;
  font-weight: 300;
}

.sheet-section {
  margin-top: 40px;

  ul {
    margin: 0;
  }

  li, p {
    font-family: 'Open Sans';
    font-size: 0.8em;
    line-height: 1.8em;
    color: inherit;
  }

}
